.main {
    min-width: 300px;
    height: 100vh;
    background-color: rgb(232, 233, 239);
    overflow: hidden;
    box-sizing: border-box;
    float: right;
    align-items: center;
    justify-content: center;
}

.content {
    align-items: center;
    justify-content: center;
    align-self: center;
}